.why-section {
  padding: clamp(2.5rem, 0.4167rem + 6.6667vw, 6.25rem) 0;
}

.why-section h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Neue Montreal";
  font-size: clamp(1.75rem, 1.0556rem + 2.2222vw, 3rem);
  font-weight: bold;
  line-height: 120%;
  color: var(--black);
}

.why-section p.why-paragraph {
  text-align: center;
  margin-top: clamp(0.5rem, 0.2222rem + 0.8889vw, 1rem);
  color: var(--black-variant);
}

.slider-wrapper {
  margin-top: clamp(2rem, 1.4444rem + 1.7778vw, 3rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(1rem, 0.7222rem + 0.8889vw, 1.5rem);
}

.slider-wrapper .slider-card {
  height: 504px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.125rem;
  padding: clamp(1rem, 0.8611rem + 0.4444vw, 1.25rem)
    clamp(0.875rem, 0.6667rem + 0.6667vw, 1.25rem);
  display: flex;
  flex-direction: column;
}

.slider-wrapper .slider-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    212.2deg,
    rgba(50, 242, 69, 0) 0%,
    rgba(50, 242, 69, 0.4) 98.9%
  );
  border-radius: 1.125rem;
}

.slider-wrapper .slider-card__top {
  margin-bottom: auto;
}

.slider-wrapper .slider-card__top,
.slider-wrapper .slider-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.slider-wrapper .slider-card__top-profile {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem 0.8125rem 0.375rem 0.375rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 24px;
}

.slider-wrapper .slider-card__top-profile-text > p:nth-child(1) {
  font-size: clamp(0.75rem, 0.6806rem + 0.2222vw, 0.875rem);
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--white);
}

.slider-wrapper .slider-card__top-profile-text > p:nth-child(2) {
  font-size: clamp(0.625rem, 0.5556rem + 0.2222vw, 0.75rem);
  line-height: 133%;
  margin-top: 0.125rem;
  letter-spacing: -0.02em;
  color: #ebebeb;
}

.slider-wrapper .slider-card__bottom p {
  font-weight: 600;
  font-size: clamp(0.875rem, 0.8056rem + 0.2222vw, 1rem);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--white);
}
