.faq-section {
  padding: clamp(2.5rem, 0.4167rem + 6.6667vw, 6.25rem) 0;
  background-color: var(--green-90);
}

.faq-section__container {
  display: flex;
  gap: clamp(1.5625rem, 1.3194rem + 0.7778vw, 2rem);
}
.faq-section__title {
  flex: 1;
  position: relative;
  padding-left: 3.75rem;
}

.faq-section__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #cff88c 0%, rgba(207, 248, 140, 0) 100%);
  opacity: 0.4;
  filter: blur(200px);
}

.faq-section__title h2 {
  margin-left: auto;
  font-family: "Neue Montreal";
  font-weight: 700;
  font-size: clamp(1.75rem, 1.0556rem + 2.2222vw, 3rem);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white);
}

.faq-section__questions {
  flex: 2;
  display: grid;
  gap: 1rem;
}

@media (max-width: 768px) {
  .faq-section__container {
    flex-direction: column;
  }
  .faq-section__title {
    flex: 1;
    padding-left: 0;
  }

  .faq-section__questions {
    flex: 1;
  }
}
