.footer-nav {
  padding: clamp(2.5rem, 0.4167rem + 6.6667vw, 6.25rem) 0;
}

.footer-nav .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav .footer-header nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
